//
// MAIN FOOTER
// ===========
//

.main-footer
  z-index 0
  height 5em
  background-color $sectionDefault
  color #fff

  .footer-content
    padding-top 2em
    text-align center
    line-height 1em

@media $b700
  .main-footer
    position fixed
    left 0
    right 0
    bottom 0

