//
// RESPONSIVE GRID
// ===============
//
// Loosely based on CSS Wizardry Grids
// https://github.com/csswizardry/csswizardry-grids
//


//
// DEFAULT VARIABLES
//

// Fallback gutter
$grid--gutter ?= 20px

// The below markup fix is needed for uncompressed HTML
$grid--html-compressed ?= true

// Default count & fraction names
$grid--count-names ?= one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen
$grid--fraction-names ?= whole half third quarter fifth sixth seventh eighth ninth tenth eleventh twelfth thirteenth fourteenth fifteenth sixteenth


//
// BASE GRID
//

grid-base()
  .grid
    margin-left -($grid--gutter)
    if $grid--html-compressed == false
      letter-spacing -0.31em

  .grid__item
    _grid-gutter--item($grid--gutter)
    vertical-align top
    display inline-block
    width 100% // Set default width
    if $grid--html-compressed == false
      letter-spacing normal


//
// GRID MODIFIERS
//

grid-modifier($modifier, $grid-modifier--gutter)
  .grid--{$modifier}
    margin-left -($grid-modifier--gutter)

    & > .grid__item
      _grid-gutter--item($grid-modifier--gutter)


//
// GRID REVERSE
// Reverses the rendered layout of the `grid__item`s
//

grid-reverse()
  .grid--reversed
    direction rtl
    text-align right
    > .grid__item
      direction ltr
      text-align left


//
// GRID WIDTHS
// Sets up grid width styles
//

grid-widths($namespace, $columns)
  _grid($namespace, $columns, 'width')


//
// INTERNAL MIXINS
// These mixins should not be called directly,
// instead are used as helpers within other mixins
//

_grid($namespace, $columns, $property)
  for $column, $i in $columns
    $grid = $grid--fraction-names[$column - 1]
    if ($column - 1 > 0)
      // Loop trough col size names
      for $size, $j in $grid--count-names
        // Check if we need this size
        if $j < ($column - 1)
          $plural = $j is 0 ? '' : 's'
          .{$namespace}{$size}-{$grid[0]}{$plural}
            {$property} ($j+1) * (100% / $column)
    else
      .{$namespace}{$grid--count-names[0]}-{$grid[0]}
        {$property} 100%

_grid-gutter--item($g)
  if unit($g) == '%'
    $scale = unit( 100 / (100 + $g), '')
    padding-left ($scale * $g)%
  else
    padding-left $g
