doctype
html.no-js(lang='en')
  head
    link(rel='stylesheet' href='index.css')
    style.
      .container {
        font: sans-serif;
        margin: 0 auto;
        width: 1000px;
        background-color: red;
        padding: 1em auto;
      }
      .text {
        background-color: blue;
        color: white;
      }
      .grid {
        padding: 1em auto;
        background-color: yellow;
      }

  body

    p The below shows a variety of grid systems with differing modifiers. Colours represented are as follows:
      ul
        li Red - .container
        li Yellow - .grid
        li Blue - .grid__item

    .container
      h2 Basic grid with halves
      .grid
        .grid__item.one-whole
          .text Test
      .grid
        .grid__item.one-half
          .text Test
        .grid__item.one-half
          .text Test
      h2 &nbsp;

    .container
      h2 Modified-gutter grid (10px gutter)
      .grid.grid--ten-pixel
        .grid__item.one-third
          .text Test
        .grid__item.one-third
          .text Test
        .grid__item.one-third
          .text Test
      h2 &nbsp;

    .container
      h2 Modified-gutter grid (30% gutter)
      .grid.grid--expanded
        .grid__item.one-half
          .text Test
        .grid__item.one-half
          .text Test
      h2 &nbsp;

    .container
      h2 Reversed grid system
      .grid.grid--reversed
        .grid__item.one-half
          .text Left
        .grid__item.one-half
          .text Right
      h2 &nbsp;
