//
// BASE GRID
//



// GRID SETTINGS

$gutter = 20px
$fixedSidebarWidth = 320px
$flexiMaxWidth = 640px



// GRID SETUP

.grid
  margin-left - $gutter

.grid__item
  display inline-block
  padding-left $gutter
  vertical-align top
  box-sizing border-box
  width 100% // Set default width



// MODIFIERS

// Gutterless grid
.grid--full
  margin-left 0
  > .grid__item
    padding-left 0

// Reverses the rendered layout of the 'grid__item's
.grid--rev
  direction rtl
  text-align right
  > .grid__item
    direction ltr
    text-align left

// Create grids with narrower gutters
.grid--narrow
  margin-left - ($gutter / 2)
  > .grid__item
    padding-left ($gutter / 2)

// Create grids with wider gutters
.grid--wide
  margin-left - ($gutter / 2)
  > .grid__item
    padding-left ($gutter / 2)



// Fixed width sidebar

// Not needed if '.grid__item' has a set default width
.grid__item--flexi
.grid__item--fixed
  width 100%

// Set breakpoint in which the sidebar is a fixed width
@media $sidebarMq
  .grid__item--flexi
    padding-right $fixedSidebarWidth

  .grid__item--fixed
    width $fixedSidebarWidth
    margin-left - $fixedSidebarWidth



// Grid widths mixin

gridWidths($namespace='')

  // Whole
  .{$namespace}one-whole
    width 100%

  // Halves
  .{$namespace}one-half
    width 50%

  // Thirds
  .{$namespace}one-third
    width (100% / 3)
  .{$namespace}two-thirds
    width 2 * (100% / 3)

  // Quarters
  .{$namespace}one-quarter
    width (100% / 4)
  .{$namespace}two-quarters
    @extend .{$namespace}one-half
  .{$namespace}three-quarters
    width 3 * (100% / 4)

  // Fifths
  .{$namespace}one-fifth
    width (100% / 5)
  .{$namespace}two-fifths
    width 2 * (100% / 5)
  .{$namespace}three-fifths
    width 3 * (100% / 5)
  .{$namespace}four-fifths
    width 4 * (100% / 5)

  // Sixths
  .{$namespace}one-sixth
    width (100% / 6)
  .{$namespace}two-sixths
    @extend .{$namespace}one-third
  .{$namespace}three-sixths
    @extend .{$namespace}one-half
  .{$namespace}four-sixths
    @extend .{$namespace}two-thirds
  .{$namespace}five-sixths
    width 5 * (100% / 6)

  // Eighths
  .{$namespace}one-eighth
    width (100% / 8)
  .{$namespace}two-eighths
    @extend .{$namespace}one-quarter
  .{$namespace}three-eighths
    width 3 * (100% / 8)
  .{$namespace}four-eighths
    @extend .{$namespace}one-half
  .{$namespace}five-eighths
    width 5 * (100% / 8)
  .{$namespace}six-eighths
    @extend .{$namespace}three-quarters
  .{$namespace}seven-eighths
    width 7 * (100% / 8)

  // Tenths
  .{$namespace}one-tenth
    width (100% / 10)
  .{$namespace}two-tenths
    @extend .{$namespace}one-fifth
  .{$namespace}three-tenths
    width 3 * (100% / 10)
  .{$namespace}four-tenths
    @extend .{$namespace}two-fifths
  .{$namespace}five-tenths
    @extend .{$namespace}one-half
  .{$namespace}six-tenths
    @extend .{$namespace}three-fifths
  .{$namespace}seven-tenths
    width 7 * (100% / 10)
  .{$namespace}eight-tenths
    @extend .{$namespace}four-fifths
  .{$namespace}nine-tenths
    width 9 * (100% / 10)

  // Twelfths
  .{$namespace}one-twelfth
    width (100% / 12)
  .{$namespace}two-twelfths
    @extend .{$namespace}one-sixth
  .{$namespace}three-twelfths
    @extend .{$namespace}one-quarter
  .{$namespace}four-twelfths
    @extend .{$namespace}one-third
  .{$namespace}five-twelfths
    width 5 * (100% / 12)
  .{$namespace}six-twelfths
    @extend .{$namespace}one-half
  .{$namespace}seven-twelfths
    width 7 * (100% / 12)
  .{$namespace}eight-twelfths
    @extend .{$namespace}two-thirds
  .{$namespace}nine-twelfths
    @extend .{$namespace}three-quarters
  .{$namespace}ten-twelfths
    @extend .{$namespace}five-sixths
  .{$namespace}eleven-twelfths
    width 11 * (100% / 12)



// PUSH MIXIN

push-setup($namespace='')

  // Whole
  .{$namespace}one-whole
    left 100%

  // Halves
  .{$namespace}one-half
    left 50%

  // Thirds
  .{$namespace}one-third
    left (100% / 3)
  .{$namespace}two-thirds
    left 2 * (100% / 3)

  // Quarters
  .{$namespace}one-quarter
    left (100% / 4)
  .{$namespace}two-quarters
    @extend .{$namespace}one-half
  .{$namespace}three-quarters
    left 3 * (100% / 4)

  // Fifths
  .{$namespace}one-fifth
    left (100% / 5)
  .{$namespace}two-fifths
    left 2 * (100% / 5)
  .{$namespace}three-fifths
    left 3 * (100% / 5)
  .{$namespace}four-fifths
    left 4 * (100% / 5)

  // Sixths
  .{$namespace}one-sixth
    left (100% / 6)
  .{$namespace}two-sixths
    @extend .{$namespace}one-third
  .{$namespace}three-sixths
    @extend .{$namespace}one-half
  .{$namespace}four-sixths
    @extend .{$namespace}two-thirds
  .{$namespace}five-sixths
    left 5 * (100% / 6)

  // Eighths
  .{$namespace}one-eighth
    left (100% / 8)
  .{$namespace}two-eighths
    @extend .{$namespace}one-quarter
  .{$namespace}three-eighths
    left 3 * (100% / 8)
  .{$namespace}four-eighths
    @extend .{$namespace}one-half
  .{$namespace}five-eighths
    left 5 * (100% / 8)
  .{$namespace}six-eighths
    @extend .{$namespace}three-quarters
  .{$namespace}seven-eighths
    left 7 * (100% / 8)

  // Tenths
  .{$namespace}one-tenth
    left (100% / 10)
  .{$namespace}two-tenths
    @extend .{$namespace}one-fifth
  .{$namespace}three-tenths
    left 3 * (100% / 10)
  .{$namespace}four-tenths
    @extend .{$namespace}two-fifths
  .{$namespace}five-tenths
    @extend .{$namespace}one-half
  .{$namespace}six-tenths
    @extend .{$namespace}three-fifths
  .{$namespace}seven-tenths
    left 7 * (100% / 10)
  .{$namespace}eight-tenths
    @extend .{$namespace}four-fifths
  .{$namespace}nine-tenths
    left 9 * (100% / 10)

  // Twelfths
  .{$namespace}one-twelfth
    left (100% / 12)
  .{$namespace}two-twelfths
    @extend .{$namespace}one-sixth
  .{$namespace}three-twelfths
    @extend .{$namespace}one-quarter
  .{$namespace}four-twelfths
    @extend .{$namespace}one-third
  .{$namespace}five-twelfths
    left 5 * (100% / 12)
  .{$namespace}six-twelfths
    @extend .{$namespace}one-half
  .{$namespace}seven-twelfths
    left 7 * (100% / 12)
  .{$namespace}eight-twelfths
    @extend .{$namespace}two-thirds
  .{$namespace}nine-twelfths
    @extend .{$namespace}three-quarters
  .{$namespace}ten-twelfths
    @extend .{$namespace}five-sixths
  .{$namespace}eleven-twelfths
    left 11 * (100% / 12)



// PULL SETUP

pull-setup($namespace='')

  // Whole
  .{$namespace}one-whole
    right 100%

  // Halves
  .{$namespace}one-half
    right 50%

  // Thirds
  .{$namespace}one-third
    right (100% / 3)
  .{$namespace}two-thirds
    right 2 * (100% / 3)

  // Quarters
  .{$namespace}one-quarter
    right (100% / 4)
  .{$namespace}two-quarters
    @extend .{$namespace}one-half
  .{$namespace}three-quarters
    right 3 * (100% / 4)

  // Fifths
  .{$namespace}one-fifth
    right (100% / 5)
  .{$namespace}two-fifths
    right 2 * (100% / 5)
  .{$namespace}three-fifths
    right 3 * (100% / 5)
  .{$namespace}four-fifths
    right 4 * (100% / 5)

  // Sixths
  .{$namespace}one-sixth
    right (100% / 6)
  .{$namespace}two-sixths
    @extend .{$namespace}one-third
  .{$namespace}three-sixths
    @extend .{$namespace}one-half
  .{$namespace}four-sixths
    @extend .{$namespace}two-thirds
  .{$namespace}five-sixths
    right 5 * (100% / 6)

  // Eighths
  .{$namespace}one-eighth
    right (100% / 8)
  .{$namespace}two-eighths
    @extend .{$namespace}one-quarter
  .{$namespace}three-eighths
    right 3 * (100% / 8)
  .{$namespace}four-eighths
    @extend .{$namespace}one-half
  .{$namespace}five-eighths
    right 5 * (100% / 8)
  .{$namespace}six-eighths
    @extend .{$namespace}three-quarters
  .{$namespace}seven-eighths
    right 7 * (100% / 8)

  // Tenths
  .{$namespace}one-tenth
    right (100% / 10)
  .{$namespace}two-tenths
    @extend .{$namespace}one-fifth
  .{$namespace}three-tenths
    right 3 * (100% / 10)
  .{$namespace}four-tenths
    @extend .{$namespace}two-fifths
  .{$namespace}five-tenths
    @extend .{$namespace}one-half
  .{$namespace}six-tenths
    @extend .{$namespace}three-fifths
  .{$namespace}seven-tenths
    right 7 * (100% / 10)
  .{$namespace}eight-tenths
    @extend .{$namespace}four-fifths
  .{$namespace}nine-tenths
    right 9 * (100% / 10)

  // Twelfths
  .{$namespace}one-twelfth
    right (100% / 12)
  .{$namespace}two-twelfths
    @extend .{$namespace}one-sixth
  .{$namespace}three-twelfths
    @extend .{$namespace}one-quarter
  .{$namespace}four-twelfths
    @extend .{$namespace}one-third
  .{$namespace}five-twelfths
    right 5 * (100% / 12)
  .{$namespace}six-twelfths
    @extend .{$namespace}one-half
  .{$namespace}seven-twelfths
    right 7 * (100% / 12)
  .{$namespace}eight-twelfths
    @extend .{$namespace}two-thirds
  .{$namespace}nine-twelfths
    @extend .{$namespace}three-quarters
  .{$namespace}ten-twelfths
    @extend .{$namespace}five-sixths
  .{$namespace}eleven-twelfths
    right 11 * (100% / 12)



// Breakpoint specific widths

gridWidths()