@import 'grid-base'

$grid--gutter = 10em
$grid--markup-fix = true
$grid--support-old-opera = true

grid-base()
grid-widths('', 1 2 3)
// Custom grids
grid-modifier('ten-pixel', 10px)
grid-modifier('expanded', 50%)
