

//
// Settings
//

// Fallback variables
$grid--gutter ?= 20px

// The below markup fix is needed for uncompressed HTML
$grid--html-compressed ?= false

// Default grid names & count names
$grid--count-names ?= one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen
$grid--size-names ?= whole half third quarter fifth sixth seventh eighth ninth tenth eleventh twelfth thirteenth fourteenth fifteenth sixteenth


//
// Base grid
//

grid-base($namespace = '', $grid-base--gutter = $grid--gutter)
  .grid{$namespace}
    margin-left -($grid-base--gutter)
    if $is-html-compressed
      letter-spacing -0.31em

  .grid__item
    _grid-gutter--item($grid-base--gutter)
    vertical-align top
    display inline-block
    width 100% // Set default width
    if $use-markup-fix != true
      letter-spacing normal


//
// Grid modifiers
//

grid-modifier($modifier = '', $grid-modifier--gutter = $grid--gutter)
  .grid--{$modifier}
    margin-left -($grid-modifier--gutter)

    & > .grid__item
      _grid-gutter--item($grid-modifier--gutter)


//
// Grid reverse
// ============
// Reverses the rendered layout of the `grid__item`s
//

grid-reverse()
  .grid--reversed
    direction rtl
    text-align right
    > .grid__item
      direction ltr
      text-align left


//
// Grid widths
// ===========
// Sets up grid width styles
//

grid-widths()
  $namespace = arguments[0]
  $columns = arguments[1]
  _grid($namespace, $columns, 'width')


//
// Internal mixins
// ===============
// These mixins should not be called directly,
// instead are used as helpers within other mixins
//

_grid($namespace, $columns, $property)
  for $column, $i in $columns
    $grid = $grid--size-names[$column - 1]
    if ($column - 1 > 0)
      // Loop trough col size names
      for $size, $j in $grid--count-names
        // Check if we need this size
        if $j < ($column - 1)
          $plural = $j is 0 ? '' : 's'
          .{$namespace}{$size}-{$grid[0]}{$plural}
            {$property} ($j+1) * (100% / $column)
    else
      .{$namespace}{$grid--count-names[0]}-{$grid[0]}
        {$property} 100%

_grid-gutter--item($g)
  if unit($g) == '%'
    $scale = unit( 100 / (100 + $g), '')
    padding-left ($scale * $g)%
  else
    padding-left $g
