//
// Clock Grid System
// =================
//
//

ielte7-grid()
  clearfix()
  overflow hidden
  zoom 1
  clear both

ielte7-grid-item()
  display inline
  float left
  zoom 1

ielte7-rev-grid-item()
  float right

ielte8-grid()
  font-size 0

ielte8-grid-item()
  font-size $baseFontSize

.grid
  margin-left - $gutter
  font-size 0rem
  ielte(7, ielte7Grid)
  ielte(8, ielte8Grid)

.grid__item
  padding-left $gutter
  vertical-align top
  display inline-block
  box-sizing border-box
  width 100% // Set default width
  font-size 1rem
  ielte(7, ielte7GridItem)
  ielte(8, ielte8GridItem)


//
// EXAMPLE USAGE
//

// Optional modifiers

grid-modifiers('')

// Mobile first grid
grid-widths('', 1 2)

// Breakpoint based grid using respond-to
respond-to($deskMq, grid-widths, 'desk-', 1 2 3 4)

// Pull and push
grid-pull('', 1 2)
grid-push('', 1 2)