//
// Base grid settings
//

$gutter = 20px
$fixed-sidebar-width = 320px
$flexi-max-width = 640px

// Grid size names
$col-size-names = whole half third quarter fifth sixth seventh eighth ninth tenth eleventh twelfth
// Grid column count names
$col-count-names = one two three four five six seven eight nine ten eleven twelve