article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
p,
pre,
ul,
ol,
dd,
hr,
legend,
button,
address,
table,
blockquote {
  margin-bottom: 1.5em;
}
body {
  background: #f5f9f8;
}
li {
  list-style-position: inside;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
nav ul,
nav ol {
  margin-bottom: 0;
}
nav li {
  list-style: none;
}
nav dd {
  margin-top: 0.5em;
}
fieldset {
  border: none;
}
img {
  border: 0;
}
img,
object {
  vertical-align: bottom;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  background-color: #ccc;
}
::-moz-selection {
  color: #fff;
  background: #4992ad;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #4992ad;
  text-shadow: none;
}
html {
  font-size: 14px;
}
body {
  font-family: 'Droid Serif', Georgia, Serif;
  font-size: 1em;
  line-height: 1.7;
  color: #222;
  font-weight: 400;
}
@media screen and (min-width: 700px ) {
  body {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 800px ) {
  body {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 900px ) {
  body {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.45em;
  }
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 1.5em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 900;
  line-height: 1;
  color: #222;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}
h1,
.h1 {
  font-size: 2.375em;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 1.6em;
}
h3,
.h3 {
  color: #999;
  font-size: 1.4em;
}
h4,
.h4 {
  font-size: 1.2em;
}
h5,
.h5 {
  font-size: 1.1em;
}
h6,
.h6 {
  font-size: 1em;
}
a {
  color: #5398a5;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #222;
  text-decoration: underline;
}
a:active {
  color: #222;
}
blockquote,
q,
em,
cite,
dfn,
i,
var {
  font-style: italic;
}
th,
strong,
dt,
b {
  font-weight: bold;
}
legend {
  padding-bottom: 0.5em;
}
input,
select,
textarea {
  font-size: 1em;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
}
blockquote {
  font-size: 1.125em;
}
blockquote p {
  margin-bottom: 0;
}
ins {
  text-decoration: none;
  border-bottom: 3px double #333;
}
del {
  text-decoration: line-through;
}
mark {
  background-color: #dee154;
  color: #222;
  font-weight: bold;
}
pre,
code {
  font-family: 'Menlo', 'Monaco', monospace;
  color: #888;
  font-size: 1em;
  word-wrap: break-word;
}
abbr {
  border-bottom: 1px dotted #333;
  font-variant: normal;
}
small {
  font-size: 0.8em;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.centering {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em;
}
.centering:before,
.centering:after {
  content: "";
  display: table;
}
.centering:after {
  clear: both;
}
.centering-unpadded {
  max-width: 42em;
  padding-left: 0;
  padding-right: 0;
}
.page-header {
  height: 12em;
  background-color: #d4a36d;
}
.page-header h1 {
  margin-top: 2.5em;
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.page-content {
  background-color: #f5f9f8;
  position: relative;
  z-index: 1;
  min-height: 400px;
}
.page-content:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
}
.page-content ul li,
.page-content ol li {
  list-style-position: outside;
  margin-left: 1.5em;
}
.page-content ul li {
  list-style-type: disc;
}
.page-content ol li {
  list-style-type: decimal;
}
@media screen and (min-width: 700px ) {
  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 16em;
    width: 100%;
  }
  .page-header h1 {
    font-size: 3em;
  }
  .page-content {
    margin-top: 16em;
    margin-bottom: 5em;
  }
}
.grid {
  margin-left: -20px;
}
.grid__item {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
.one-whole {
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.333333333333336%;
}
.two-thirds {
  width: 66.66666666666667%;
}
.one-quarter {
  width: 25%;
}
.two-quarters {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.one-fifth {
  width: 20%;
}
.two-fifths {
  width: 40%;
}
.three-fifths {
  width: 60%;
}
.four-fifths {
  width: 80%;
}
.one-sixth {
  width: 16.666666666666668%;
}
.two-sixths {
  width: 33.333333333333336%;
}
.three-sixths {
  width: 50%;
}
.four-sixths {
  width: 66.66666666666667%;
}
.five-sixths {
  width: 83.33333333333334%;
}
.one-seventh {
  width: 14.285714285714286%;
}
.two-sevenths {
  width: 28.571428571428573%;
}
.three-sevenths {
  width: 42.85714285714286%;
}
.four-sevenths {
  width: 57.142857142857146%;
}
.five-sevenths {
  width: 71.42857142857143%;
}
.six-sevenths {
  width: 85.71428571428572%;
}
.one-eighth {
  width: 12.5%;
}
.two-eighths {
  width: 25%;
}
.three-eighths {
  width: 37.5%;
}
.four-eighths {
  width: 50%;
}
.five-eighths {
  width: 62.5%;
}
.six-eighths {
  width: 75%;
}
.seven-eighths {
  width: 87.5%;
}
.one-tenth {
  width: 10%;
}
.two-tenths {
  width: 20%;
}
.three-tenths {
  width: 30%;
}
.four-tenths {
  width: 40%;
}
.five-tenths {
  width: 50%;
}
.six-tenths {
  width: 60%;
}
.seven-tenths {
  width: 70%;
}
.eight-tenths {
  width: 80%;
}
.nine-tenths {
  width: 90%;
}
.one-twelfth {
  width: 8.333333333333334%;
}
.two-twelfths {
  width: 16.666666666666668%;
}
.three-twelfths {
  width: 25%;
}
.four-twelfths {
  width: 33.333333333333336%;
}
.five-twelfths {
  width: 41.66666666666667%;
}
.six-twelfths {
  width: 50%;
}
.seven-twelfths {
  width: 58.333333333333336%;
}
.eight-twelfths {
  width: 66.66666666666667%;
}
.nine-twelfths {
  width: 75%;
}
.ten-twelfths {
  width: 83.33333333333334%;
}
.eleven-twelfths {
  width: 91.66666666666667%;
}
.one-sixteenth {
  width: 6.25%;
}
.two-sixteenths {
  width: 12.5%;
}
.three-sixteenths {
  width: 18.75%;
}
.four-sixteenths {
  width: 25%;
}
.five-sixteenths {
  width: 31.25%;
}
.six-sixteenths {
  width: 37.5%;
}
.seven-sixteenths {
  width: 43.75%;
}
.eight-sixteenths {
  width: 50%;
}
.nine-sixteenths {
  width: 56.25%;
}
.ten-sixteenths {
  width: 62.5%;
}
.eleven-sixteenths {
  width: 68.75%;
}
.twelve-sixteenths {
  width: 75%;
}
.thirteen-sixteenths {
  width: 81.25%;
}
.fourteen-sixteenths {
  width: 87.5%;
}
.fifteen-sixteenths {
  width: 93.75%;
}
[class*=push-] {
  position: relative;
}
.push-one-third {
  left: 33.333333333333336%;
}
.push-two-thirds {
  left: 66.66666666666667%;
}
[class*=pull-] {
  position: relative;
}
.pull-one-third {
  right: 33.333333333333336%;
}
.pull-two-thirds {
  right: 66.66666666666667%;
}
.grid--ten-pixel {
  margin-left: -10px;
}
.grid--ten-pixel > .grid__item {
  padding-left: 10px;
}
.grid--ten-percentage {
  margin-left: -10%;
}
.grid--ten-percentage > .grid__item {
  padding-left: 9.09090909090909%;
}
.grid--ten-em {
  margin-left: -10em;
}
.grid--ten-em > .grid__item {
  padding-left: 10em;
}
.grid--reversed {
  direction: rtl;
  text-align: right;
}
.grid--reversed > .grid__item {
  direction: ltr;
  text-align: left;
}
.text-input,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 1.6;
  -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.2s ease;
  transition: border-color 0.1s ease, box-shadow 0.2s ease;
  font-family: inherit;
  font-size: inherit;
}
.text-input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
  border-color: #5398a5;
  -webkit-box-shadow: 0px 0px 5px rgba(83,152,165,0.8);
  box-shadow: 0px 0px 5px rgba(83,152,165,0.8);
  outline: 0;
}
textarea {
  resize: vertical;
}
select {
  height: 32px;
}
input[type="file"] {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}
.form-row {
  margin-bottom: 1.5em;
}
.form-row label {
  display: block;
}
.form-row .form-label-text {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  padding-top: 4px;
  padding-right: 20px;
}
.form-row .form-label-text abbr {
  color: #ca4427;
  margin-left: 4px;
  border-bottom: none;
}
.form-row .form-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-row ul.form-field {
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
}
.form-row ul.form-field li {
  list-style: none;
}
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="url"],
.form-row input[type="password"],
.form-row input[type="search"],
.form-row textarea,
.form-row select {
  display: block;
  width: 70%;
}
.form-row select[multiple] {
  display: inline-block;
  height: auto;
  padding: 5px 10px;
  margin-right: -1px;
}
.form-row input[type="checkbox"],
.form-row input[type="radio"] {
  margin-right: 10px;
}
.form-row-field-group,
.form-row-checkbox,
.form-label-text {
  padding-top: 0;
}
.form-row-checkbox .form-field {
  margin-top: 0;
}
.form-row-alt .form-label-text {
  margin-top: 3px;
  float: none;
  margin-right: 0;
}
.form-row-alt .form-field {
  width: auto;
  margin-left: 30%;
}
.form-row-upload .form-label-text {
  padding-top: 0;
}
.form-row.form-row-full-width .form-label-text {
  display: block;
  float: none;
  width: 100%;
  margin-right: 0;
  padding-top: 0;
  margin-bottom: 4px;
}
.form-row.form-row-full-width .form-field {
  width: 100%;
}
.form-row.form-row-full-width .form-row-description {
  margin-left: 0;
  width: 100%;
}
.form-row-group .form-field {
  width: 70%;
  margin-right: -1px;
}
.form-row-group .form-field li {
  float: left;
  width: 32%;
  margin-left: 2%;
}
.form-row-group .form-field li:first-child {
  margin-left: 0;
}
.form-row-group .form-field .form-label-text {
  display: none;
}
.form-row-group .form-field .form-field {
  width: 100%;
}
.form-row-group-alt .form-field li {
  width: 22%;
}
.form-row-group-alt .form-field li:first-child {
  width: 52%;
}
.form-row-actions {
  text-align: right;
}
.form-row-actions input,
.form-row-actions button,
.form-row-actions .btn {
  margin-left: 10px;
}
.form-row-actions input:first-child,
.form-row-actions button:first-child,
.form-row-actions .btn:first-child {
  margin-left: 0;
}
.form-copy {
  margin-top: 3px;
}
.form-copy p,
.form-copy ul,
.form-copy ol {
  margin-top: 3px;
  margin-bottom: 0;
}
.form-copy ul,
.form-copy ol {
  padding-left: 10px;
}
.form-row-description {
  color: #777;
  font-size: 0.8em;
  margin-left: 30%;
  width: 70%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-row-full-width .form-row-description {
  margin-left: 0;
  width: 100%;
}
.form-error {
  margin-bottom: 1.5em;
  background-color: #ca4427;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  border: 1px solid #b63d23;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.form-row-error .form-field {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #b63d23;
}
.form-row-error .form-field:focus {
  border-color: #b63d23;
}
.form-row-error-text {
  background-color: #ca4427;
  color: #fff;
  padding: 5px 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #b63d23;
  border-top-width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
select + .form-row-error-text,
.form-row-checkbox .form-row-error-text,
.form-row-field-group .form-row-error-text {
/* Set all border radii */
  border-radius: 3px;
  margin-top: 5px;
  border-top-width: 1px;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  vertical-align: top;
}
th {
  text-align: left;
  border-bottom: 2px solid #666;
}
td {
  border-bottom: 1px solid #999;
}
td.title strong {
  font-size: 1.05em;
}
.table-highlight tbody tr:hover {
  background-color: #d8e9ec;
}
.table-sortable th a {
  position: relative;
  text-decoration: none;
  color: #333;
/* TODO - Convert to variable */
  padding-right: 14px;
}
.table-sortable th a:hover {
  text-decoration: underline;
}
.table-sortable .sort-asc a:after,
.table-sortable .sort-desc a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 0;
  width: 8px;
  height: 5px;
  background-position: -100% -100%;
  background-repeat: no-repeat;
  background-image: url(/admin/images/content/sprite.png);
}
.svg .table-sortable .sort-asc a:after,
.svg .table-sortable .sort-desc a:after {
  background-image: url(/admin/images/content/sprite.svg);
}
.table-sortable .sort-asc a:after {
  background-position: -112px 0;
}
.table-sortable .sort-asc a:hover:after {
  background-position: -112px -5px;
}
.table-sortable .sort-desc a:after {
  background-position: -112px -10px;
}
.table-sortable .sort-desc a:hover:after {
  background-position: -112px -15px;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-style: normal;
}
.icon-nav {
  height: 1.4em;
  width: auto;
}
.main-header {
  z-index: 10;
  position: relative;
  text-align: right;
  background-color: #222;
}
.main-header .centering {
  position: relative;
}
@media screen and (min-width: 700px ) {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.site-title {
  float: left;
  margin-bottom: 0;
  font-size: 1em;
}
.site-title a,
.site-title button {
  line-height: 1.4;
  font-weight: 400;
  padding: 0.5em 1em;
  color: #fff;
  display: block;
  white-space: nowrap;
}
.site-title a:hover,
.site-title button:hover {
  background-color: #555;
  text-decoration: none;
}
.main-header .main-navigation {
  display: none;
}
@media screen and (min-width: 700px ) {
  .main-header .main-navigation {
    display: inline-block;
  }
  .main-navigation {
    float: right;
  }
  .main-navigation .nav-list {
    position: relative;
  }
  .main-navigation .nav-list:before,
  .main-navigation .nav-list:after {
    content: "";
    display: table;
  }
  .main-navigation .nav-list:after {
    clear: both;
  }
  .main-navigation .nav-list li {
    float: left;
  }
  .main-navigation .nav-list a {
    position: relative;
    display: block;
    padding: 0.5em 1em;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
  }
  .main-navigation .nav-list a:focus,
  .main-navigation .nav-list a:hover,
  .main-navigation .nav-list a:active,
  .main-navigation .nav-list a.active {
    text-decoration: none;
    background-color: #555;
  }
  .main-navigation .nav-list .has-subnav:hover > a:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -1em;
    border-style: solid;
    border-color: transparent transparent #333;
    border-width: 0 1em 1em;
  }
  .main-navigation .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    padding-top: 1em;
  }
  .main-navigation .subnav li {
    background-color: #333;
    width: 100%;
    border: none;
    margin-top: -1px;
  }
  .main-navigation .subnav a:hover {
    background-color: #555;
  }
  .main-navigation .nav-list li:hover .subnav {
    display: block;
  }
}
@media screen and (min-width: 700px ) {
  .mobile-sidebar {
    display: none;
  }
}
html {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}
.mobile-sidebar-open {
  overflow-x: hidden;
}
.mobile-sidebar {
  position: absolute;
  background: #222;
  min-height: 100%;
  padding: 0px;
  margin-left: -85%;
  width: 85%;
  float: left;
  z-index: 2;
  bottom: 0;
  -webkit-transition: margin-left 0.4s ease;
  transition: margin-left 0.4s ease;
}
.container {
  width: 100%;
  margin-left: 0;
  float: right;
  z-index: 1;
  position: relative;
  -webkit-transition: margin-right 0.4s ease;
  transition: margin-right 0.4s ease;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
@media screen and (max-width: 699px ) {
  .mobile-sidebar-open .mobile-sidebar {
    margin-left: 0;
  }
  .mobile-sidebar-open .container {
    margin-right: -85%;
  }
}
.mobile-sidebar .site-title {
  float: none;
}
.mobile-sidebar .main-navigation .nav-list a {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}
.mobile-sidebar .main-navigation .nav-list a:focus,
.mobile-sidebar .main-navigation .nav-list a:hover,
.mobile-sidebar .main-navigation .nav-list a:active {
  text-decoration: none;
  background-color: #555;
  color: #fff;
}
.mobile-sidebar .main-navigation .subnav a {
  text-indent: 1em;
  color: #555;
}
.main-content {
  background-color: #fff;
}
.main-footer {
  z-index: 0;
  height: 5em;
  background-color: #d4a36d;
  color: #fff;
}
.main-footer .footer-content {
  padding-top: 2em;
  text-align: center;
  line-height: 1em;
}
@media screen and (min-width: 700px ) {
  .main-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.btn-link {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.btn-mobile-nav {
  padding: 0.5em 1em;
  color: #fff;
  float: left;
}
.btn-mobile-nav:hover {
  text-decoration: none;
  background-color: #555;
}
@media screen and (min-width: 700px ) {
  .btn-mobile-nav {
    display: none;
  }
}
.section ::-moz-selection {
  color: #fff;
  background: #1c805a;
  text-shadow: none;
}
.section ::selection {
  color: #fff;
  background: #1c805a;
  text-shadow: none;
}
.section .page-header {
  background-color: #1c805a;
}
.section .main-footer {
  background-color: #1c805a;
  color: #fff;
}
.section .main-footer {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}
.section .main-footer small:before {
  content: '/* ';
  opacity: 0.7;
}
.section .main-footer small:after {
  content: ' */';
  opacity: 0.7;
}
code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #e8e5e5;
}
:not(pre) > code[class*="language-"] {
  padding: 0.2em;
  border-radius: 0.3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #778090;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
.text {
  background-color: #de6e66;
  color: #fff;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 3px;
}
.panel {
  color: #fff;
  margin-bottom: 1.5em;
}
.panel.section-html {
  background-color: #de6e66;
}
.panel.section-css {
  background-color: #1c805a;
}
.panel.section-javascript {
  background-color: #876079;
}
.panel.section-documents {
  background-color: #5598a7;
}
.panel-header {
  padding: 1em;
}
.panel-header h2 {
  margin-bottom: 0;
}
.panel-header h2 a {
  color: #fff;
}
.section-html .panel-header {
  background-color: #b45854;
}
.section-css .panel-header {
  background-color: #16694c;
}
.section-javascript .panel-header {
  background-color: #6c4e63;
}
.section-documents .panel-header {
  background-color: #427d86;
}
.panel-content {
  padding: 1em 1em 1px;
}
.panel-content a {
  color: #fff;
}
.page-content .section {
  padding: 1.5em 0 0;
}
@media screen and (min-width: 700px ) {
  .page-content .section {
    padding: 3em 0 1.5em;
  }
}
.page-content .section:nth-child(even) {
  background-color: #ebeee7;
}
body {
  counter-reset: ref-link ref-list;
}
.reference-link:before {
  counter-increment: ref-link;
  content: '[' counter(ref-link) ']';
}
.section-references ul {
  font-size: 0.8em;
}
.section-references li {
  list-style: none;
}
.section-references li:before {
  counter-increment: ref-list;
  content: '[' counter(ref-list) '] ';
}
.section {
  position: relative;
}
.hash-link {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6em;
  line-height: 1;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 1em;
  height: 1em;
  background-image: url("/resource/images/sprite.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.svg .hash-link {
  background-image: url("/resource/images/sprite.svg");
}
.hash-link:hover {
  background-position: 0px -32px;
}
.hash-link:before {
  display: inline-block;
  content: " ";
  margin-top: -200px;
  height: 200px;
  visibility: hidden;
}
.tabs {
  position: relative;
}
.tabs__nav {
  position: absolute;
  top: 0;
  right: 0;
}
.tabs__nav li {
  float: left;
  list-style: none;
  margin-left: -1px;
}
.tabs__nav button {
  display: block;
  border: 1px solid #e7e7e7;
  background-color: #eee;
  color: #ccc;
  padding: 0.5em 1em;
}
.tabs__nav button:focus,
.tabs__nav button:hover {
  color: #aaa;
  background-color: #e7e7e7;
}
.tabs__nav li.active button {
  color: #aaa;
  background-color: #e7e7e7;
}
.tabs__content {
  clear: left;
}
.js .tabs__item {
  display: none;
}
.js .tabs__item.active {
  display: block;
}
blockquote p {
  font-size: 1.6em;
  line-height: 1.3;
}
blockquote p:first-of-type:before {
  content: open-quote;
}
blockquote p:first-of-type:after {
  content: close-quote;
}
blockquote small {
  display: block;
  text-align: right;
  font-size: 0.4em;
  margin-top: 0.2em;
}
blockquote small,
blockquote small a,
blockquote small cite {
  color: #777;
  font-style: normal;
}
@media screen and (min-width: 700px ) {
  blockquote p {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
