extend ../../layouts/default

block content

  .section
    .centering
      h2 Pull
      .grid
        .grid__item.one-half
          h6 Jade
          .body
            pre.language-jade
              code.language-jade
                | .grid
                |   .grid__item.one-third
                |     .text .grid__item.one-third
                |   .grid__item.pull-one-third.one-third
                |     .text .grid__item.pull-one-third.one-third
        .grid__item.one-half
          h6 Stylus
          .body
            pre.language-stylus
              code.language-stylus
                | @include 'responsive-grid'
                | 
                | grid-base()
                | grid-widths('', 3)
                | grid-pull('', 3)
      h6 Example
      .grid
        .grid__item.one-third
          .text .grid__item.one-third
        .grid__item.pull-one-third.one-third
          .text .grid__item.pull-one-third.one-third

  .section
    .centering
      h2 Push
      .grid
        .grid__item.one-half
          h6 Jade
          .body
            pre.language-jade
              code.language-jade
                | .grid
                |   .grid__item.one-third
                |     .text .grid__item.one-third
                |   .grid__item.push-one-third.one-third
                |     .text .grid__item.push-one-third.one-third
        .grid__item.one-half
          h6 Stylus
          .body
            pre.language-stylus
              code.language-stylus
                | @include 'responsive-grid'
                | 
                | grid-base()
                | grid-widths('', 3)
                | grid-push('', 3)
      h6 Example
      .grid
        .grid__item.one-third
          .text .grid__item.one-third
        .grid__item.push-one-third.one-third
          .text .grid__item.push-one-third.one-third