extend ../../layouts/default

block content

  .section
    .centering
      h2 Reverse
      .grid
        .grid__item.one-half
          h6 Jade
          .body
            pre.language-jade
              code.language-jade
                | .grid.grid--reversed
                |   .grid__item.one-half
                |     .text Right
                |   .grid__item.one-half
                |     .text Left
        .grid__item.one-half
          h6 Stylus
          .body
            pre.language-stylus
              code.language-stylus
                | @include 'responsive-grid'
                | 
                | grid-base()
                | grid-widths('', 1 2)
                | grid-reverse()

      h6 Example
      .grid.grid--reversed
        .grid__item.one-half
          .text Right
        .grid__item.one-half
          .text Left