//
// BUTTONS
// =======
//


//
// BASE BUTTON STYLE
//

.btn-link
  background-color transparent
  border none
  font-size inherit
  color inherit
  margin 0
  padding 0
  cursor pointer



//
// Mobile Navigation Toggle Button
//

.btn-mobile-nav
  padding 0.5em 1em
  color #fff
  float left
  &:hover
    text-decoration none
    // background-color darken($pageBgColor, 40%)
    background-color #555

  @media $b700
    display none
