//
// RESPONSIVE GRID
// ===============
//
// Loosely based on CSS Wizardry Grids
// https://github.com/csswizardry/csswizardry-grids
//


//
// DEFAULT VARIABLES
//

// Fallback gutter
$grid--gutter ?= 20px

// The below markup fix is needed for uncompressed HTML
$grid--html-compressed ?= true

// Default count & fraction names
$grid--count-names ?= one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen
$grid--fraction-names ?= whole half third quarter fifth sixth seventh eighth ninth tenth eleventh twelfth thirteenth fourteenth fifteenth sixteenth

// Set to true if you need expression based widths - useful for IE7 and below
$grid--width-expression ?= false

//
// BASE GRID
//

grid-base()
  .grid
    margin-left -($grid--gutter)
    if $grid--html-compressed == false
      letter-spacing -0.25em

  .grid__item
    _grid-gutter--item($grid--gutter)
    box-sizing border-box
    vertical-align top
    display inline-block
    width 100% // Set default width
    if $grid--html-compressed == false
      letter-spacing normal


//
// GRID GUTTER MODIFIER
// Custom gutter widths
//

grid-gutter-modifier($namespace, $grid-modifier--gutter)
  .grid--{$namespace}
    margin-left -($grid-modifier--gutter)

    & > .grid__item
      _grid-gutter--item($grid-modifier--gutter)


//
// GRID REVERSE
// Reverses the rendered layout of the `grid__item`s
//

grid-reverse($namespace = '')
  $namespace = _namespace-suffix($namespace, 'reverse')

  .grid--{$namespace}
    direction rtl
    text-align right

    > .grid__item
      direction ltr
      text-align left


//
// GRID WIDTHS
// Sets up grid width styles
//

grid-widths($namespace, $columns)
  $namespace = _namespace-suffix($namespace)

  _grid($namespace, $columns, 'width')


//
// GRID PULL
// Sets up grid pull styles
//

grid-pull($namespace, $columns)
  $namespace = _namespace-suffix($namespace, 'pull-')

  [class*={$namespace}]
    position relative

  _grid($namespace, $columns, 'right')


//
// GRID PUSH
// Sets up grid push styles
//

grid-push($namespace, $columns)
  $namespace = _namespace-suffix($namespace, 'push-')

  [class*={$namespace}]
    position relative

  _grid($namespace, $columns, 'left')


//
// INTERNAL MIXINS
// These mixins should not be called directly,
// instead are used as helpers within other mixins
//

_grid($namespace, $columns, $property)
  for $column, $i in $columns
    $grid = $grid--fraction-names[$column - 1]
    $numCols = $column is 1 ? 1 : $column - 1
    for $j in (1..$numCols)
      $plural = $j is 1 ? '' : 's'
      $width = round($j * (100 / $column), 4)
      .{$namespace}{$grid--count-names[$j - 1]}-{$grid}{$plural}
        {$property} !$grid--width-expression ? ($width)% : _grid-width--expression($width)

_grid-gutter--item($g)
  if unit($g) == '%'
    $scale = unit( 100 / (100 + $g), '')
    padding-left ($scale * $g)%
  else
    padding-left $g

_grid-width--expression($width)
  unquote('expression((this.parentNode.clientWidth * '+($width / 100)+' - parseInt(this.currentStyle["paddingLeft"]) - parseInt(this.currentStyle["paddingRight"]) - (parseInt(this.currentStyle["borderLeftWidth"]) || 0) - (parseInt(this.currentStyle["borderRightWidth"]) || 0) ) + "px")')

_namespace-suffix($namespace, $suffix = '')
  if $namespace != ''
    $namespace = $namespace + '-'
  $namespace = $namespace + $suffix
