//
// GRID CALC
// =========
//
//


grid-calc($calc-col-span, $calc-col-total = 16, $calc-gutter = $grid--gutter, $calc-grid-width = $base--max-width)
  ($calc-grid-width + $calc-gutter) * $calc-col-span / $calc-col-total - $calc-gutter
