header.main-header
  .centering.centering-unpadded

    button.btn-link.btn-mobile-nav.js-toggle-mobile-nav(title="Toggle navigation")
      i.icon.icon-nav &#9776;

    h1.site-title
      a(href='/responsive-grid') Responsive Grid


    include ../components/main-navigation
