ul.nav-list

    li.section-html
      a(href='/responsive-grid', class=((section === 'home') ? 'active' : null)) Introduction

    li.section-css.has-subnav
      a(href='/responsive-grid/usage/basic', class=((section === 'usage') ? 'active' : null)) Usage
      button.btn-link.nav-expand.js-nav-expand
        i.icon-nav-expand
      include subnav/usage
