//
// ICONS
// =====
//

//
// BASE STYLES
// Some simple styles for other icons to extend and customise
//

.icon
  display inline-block
  width 16px
  height 16px
  font-style normal



.icon-nav
  height 1.4em
  width auto